.container {
  max-width: 1200px;
  border: 1px solid #a0bee6;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#recipient-name::placeholder {
  color: #a0bee6;
  text-align: center;
}

.titles {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #111;
}

.pgt-styles {
  background-color: #3dea02;
  padding: 5px;
  border-radius: 5px;
  color: red;
}
